<html lang="en">
    <head>
        <title>Liberty Core | Tracts</title>
    </head>
    <body>
        <div class="card-deck mx-auto" style="max-width: 90rem;">
            <div class="card m-3 bigcard bg-light">
                <div class="card-body">
                    <h2 class="card-title"><b>Tract No. <%= @tract.name %></b></h2>
                    <p class="card-text">
                        <u>Parcel Address:</u> <%= @tract.parcel_address %></br>
                        <u>Owner(s):</u> <%= @tract.owner_name %></br>
                        <% unless @tract.project_id.nil? %>
                            <u>Project:</u> OPW <%= Project.find( @tract.project_id ).name %></br>
                        <% end %>
                        
                        <% unless @tract.owner_phone.nil? %>
                            <u>Owner Phone Number:</u> <%= @tract.owner_phone %></br>
                        <% end %>
                        
                        <% unless @tract.owner_email.nil? %>
                            <u>Owner Email Address:</u> <%= @tract.owner_email %></br>
                        <% end %>
                        
                        <u>Payment Amount:</u> <%=    number_to_currency( @tract.payment_amount ) %></br>
                        <% unless @tract.remarks.empty? %>
                            </br>
                            <u>Remarks:</u> <%= @tract.remarks %></br>
                        <% end %>
                        </br>
                        <% unless @tract.keydates.empty? %>
                            <h4><u>Keydates:</u></h4>
                            <% @tract.keydates.each do |kd| %>
                                <div class="card mb-3 littlecard">
                                  <div class="card-body">
                                        <h5 class="card-title"><%= kd.name %> - <%= kd.date.to_formatted_s(:long_ordinal) %></h5>
                                        <p class="card-text">
                                            <%= kd.comments %>
                                        </p>
                                  </div>
                                </div>
                            <% end %>
                        <% end %>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>