<!doctype html>
<html lang="en">
  <head>
    <title>Liberty Core | Dashboard</title>
  </head>
    
  <body>

    <div class="card-deck mx-auto" style="max-width: 90rem;">

      <div class="card m-3 bigcard bg-light">
        <div class="card-body">

          <h2 class="card-title"><%= @display_name %>Tracts</h2>

          <% @user_tracts.each do |tract| %>
            <div class="card mb-3 littlecard">
              <div class="card-body">
                <p class="card-text"><%= tract.parcel_address %></br><%= tract.owner_name %></p>
              </div>
            </div>
          <% end %>

        </div>
      </div>

      <div class="card m-3 bigcard bg-light">
        <div class="card-body">

          <h2 class="card-title"><%= @display_name %>Projects</h2>

          <% @user_projects.each do |project| %>
            <div class="card mb-3 littlecard">
              <div class="card-body">
                <p class="card-text"><%= project.name %></p>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>

  </body>
</html>