<!doctype html>
<html lang="en">
    <head>
        <title>Liberty Core | Projects</title>
    </head>
    <body>
      <div class="card-deck mx-auto" style="max-width: 90rem;">

        <div class="card m-3 bigcard bg-light">
          <div class="card-body">

            <h2 class="card-title"><b>OPW <%= @project.name %></b></h2>

            <% @project_tracts.each do |tract| %>
              <div class="card mb-3 littlecard">
                <div class="card-body">
                  <h5 class="card-title"><b>Tract No. <%= tract.name %></b></h5>
                  <p class="card-text">
                    <u>Parcel Address:</u> <%= tract.parcel_address %></br>
                    <u>Owner(s):</u> <%= tract.owner_name %></br>
                    <% if( current_user.admin? or current_user.id == tract.user_id ) %>
                      <%= link_to "Details", tract %> <br></br>
                    <% end %>
                    <h3> Associated Files </h3>
                    <% unless tract.google_files.empty? %>
                      <% tract.google_files.each do |file| %>
                        <%= link_to file.name, file.web_view_link %> <br></br>
                      <% end %>
                    <% end %>
                    <% if tract.google_files.empty? %>
                    <p>No associated files detected!</p>
                    <% end %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </body>
</html>
